* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', system-ui, arial, sans-serif;
    color: #202124;

}


.topbar {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.left-bar {
    position: absolute;
    top: 12px;
    left: 18px;
    gap: 14px;
    display: flex;
    align-items: center;
    pointer-events: auto;

}

.right-bar {
    position: absolute;
    right: 18px;
    top: 12px;
    gap: 14px;
    display: flex;
    align-items: center;
    pointer-events: auto;
}

.topbar a {
    text-decoration: none;
    color: #202124;
    font-size: 14px;
}

button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}



.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    min-height: 100vh;
}

.logo {
    font-size: 92px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -3px;
}

.logo span {
    font-weight: 700;
    font-size: 'product Sans', Roboto, arial, sans-serif;
}

.g {
    color: #4285f4;
}

.o1 {
    color: #ea4335;
}

.o2 {
    color: #fbbc05;
}

.g2 {
    color: #4285f4;
}

.l {
    color: #34a853;
}

.e {
    color: #ea4335;
}

.search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.search-box {
    display: flex;
    align-items: center;
    width: 560px;
    border-radius: 24px;
    padding: 10px 14px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 6px rgba(23, 33, 36, 0.28);
    background-color: fff;
}

.icon {
    color: #9aa0a6;
    margin-right: 10px;
    /* flex: 0 0 20px; */
}

.input-search {
    flex: 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 8px 6px;
    color: #202124;
    background: transparent;
}

.mic {
    /* background: transparent; */
    color: #4285f4;
    margin-left: 10px;
    /* cursor: pointer; */
}

.buttons {
    display: flex;
    gap: 8px;
}

.btn-primary {
    color: #0e0e0e;
    background: #f8f9fa;
}
.btn-primary:hover{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.btn {
    color: #0e0e0e;
    background: #f8f9fa;
    border: 1px solid #f1f3f4;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
}


.btn:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.india {
    margin-left: 20px;
}

.footer a {
    margin-left: 14px;
    text-decoration: none;
    color: #5f6368;
}

.footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.right {
    position: absolute;
    right: 20px;
}

.left {
    position: absolute;
    left: 20px;
}

@media(max-width:520px) {
    .logo {
        font-size: 64px;
    }

    .search-bar {
        width: 92vw;
        padding: 8px;
        border-radius: 20px;
    }

    .buttons {
        flex-direction: column;
        gap: 16px;
    }
}