{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google - Clone</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav class="topbar">
            <div class="left-bar">
                <a href="#">About</a>
                <a href="#">Store</a>
            </div>
            <div class="right-bar">
                <a href="#">Gmail</a>
                <a href="#">Images</a>
                <button onclick="toggleForm()"> <a href="base/">Sign in </a></button>
            </div>
        </nav>
    </header>
    <main class="main">
        <h1 class="logo" aria-label="Google">
            <span class="g">G</span>
            <span class="o1">o</span>
            <span class="o2">o</span>
            <span class="g2">g</span>
            <span class="l">l</span>
            <span class="e">e</span>
        </h1>
        <form class="search-bar" method="get" action="https://www.google.com/search" target="_parent" role="search">
            <div class="search-box">
                <svg class="icon" height="20" wirdh="20" viewbox="0 0 24 24">
                    <path
                        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    </path>
                </svg>
                <input type="search" class="input-search" placeholder="search google or type URL" aria-label="search"
                    aria-hidden="true" name="q" autocomplete="off" autofocus>
                <!-- <button type="button" class="mic" title="voice search"> -->
                <svg class="mic" wirdh="20" height="20" viewbox="0 0 24 24">
                    <path fill="var(--bbQxAb)"
                        d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm-40 280v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Z">
                    </path>
                </svg>
                <!-- </button> -->
            </div>
            <div class="buttons">
                <button type="submit" class="btn-primary">Google Search</button>
                <button type="button" class="btn" onclick="location.href='https:/www.google.com/doodles'">I'am feeling
                    Lucky</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        <div class="india">India</div>
        <hr>
        <div class="footer-bar">
            <div class="left">
                <a href="#">Advertising</a>
                <a href="#">Business</a>
                <a href="#">How Search word</a>
            </div>
            <div class="right">
                <a href="#">Privacy</a>
                <a href="#">Teams</a>
                <a href="#">Settings</a>
            </div>
        </div>
    </footer>
</body>

</html>